.carousel {
  .carousel-indicators {
    button {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #085e99;
    }
  }

  .carousel-inner {
    .carousel-item {
      .carousel-image {
        // z-index: 0;
      }

      .overlay-cover {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 0;
        background-color: #fff;
        opacity: 0.4;
      }

      .carousel-text {
        height: 100%;
        padding-left: 10%;
        z-index: 5;

        h3 {
          font-family: 'Red Hat Display', sans-serif;
          color: #1c2539;
          font-weight: 700;
          font-size: 66px;

          span {
            color: #085e99;
          }
        }

        p {
          color: #1c2539;
        }
      }
    }
  }

  // .carousel-control-next {
  //   span {
  //     // background: rgba($color: #fff, $alpha: 0.5);
  //     // border-radius: 50%;
  //     color: red;
  //   }

  //   .carousel-control-next-icon{
  //     background: rgba($color: #000, $alpha: 0.1);
  //   }
  // }
}
