.services {
  .services-container{

    .services-layout{
      display: flex;
      flex-direction: row;
      margin-top: 20px;

      nav {
        flex: 4;
      }

      main {
        flex: 8;
        margin-left: 20px;
        margin-bottom: 50px;

        .title{
          font-size: 40px;
          font-weight: 700;
          color: #1C2539;
        }

        .image-rep{
          // width: 100%;
        }

        p{
          font-family: 'Nunito Sans', sans-serif;
          font-size: 18px;
          font-weight: 400;
          color: #5D666F;
          line-height: 28px;
        }

        h5{
          font-size: 18px;
          font-weight: 600;
          color: #1C2539;
          margin-top: 50px;
          margin-bottom: 20px;
        }

        ul{
          font-family: 'Nunito Sans', sans-serif;
          font-size: 18px;
          font-weight: 400;
          color: #5D666F;
          
        }
      }
    }
  }
}